body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.flex-container {
    display: flexbox;
    flex-direction: column;
    background-color: rgb(243, 243, 60);
    padding: 10px;
}

.header {
    background-color: aqua;
    flex-wrap: wrap;
    height: 50px;
    width: 100px;
}

.nav {
    background-color: rgb(80, 80, 179);
    height: 200px;
    width: 200px;
    justify-content: flex-end;
}

.section {
    background-color: rgb(245, 120, 120);
}

.article {
    background-color: rgb(233, 109, 216);
}

.article2 {
    background-color: lightgreen;
}

.aside {
    background-color: lightskyblue;
}

.footer {
    background-color: rgb(243, 199, 141);
}